
html{
    font-size: 15px;
}

body{
    max-width: 1400px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
}

main{
    grid-area: hovedomraade;
}

aside{
    grid-area: sidebar;
}

footer{
    grid-area: baann;
}
/*index.html*/
#grid-container{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns:1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "topp" "hovedomraade" "sidebar" "baann";
}

.skoboks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px; 
}

header{
    grid-area: topp;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header{
    background-color: #d9d9d9;
    padding: 5%;
    text-align: center;
}
header nav ul li{
    display: inline-flex;
}
#logo{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    
}

#hosttilbud{
    text-align: center;
    background-color: #d9d9d9;
    margin-right: 10%;
}

article img{
    height: 40%;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

#tilbud{
    display: inline-block;
    padding: 0;
    text-decoration: none;
    background-color: #56AE48;
    border-radius: 4px;
}
/*produkt.html*/
.filter{
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.resultater{
    text-decoration: underline;
    margin: 15px;
}

.default-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.default-flex img{
    height: 40%;
    width: 40%;
}

.default-flex p{
    font-size: 15px;
}
.pris{
    padding-left: 20%;
    padding-top: 10%;
    width: 40%;
    float: left;
    font-size: 10px;
}

.prisrod{
    color: #ad3c3c;
    text-decoration: line-through;
}

.varer{
    background-color: #d9d9d9;
    padding: 1rem;
    text-align: center;
    margin-right: 10%;
    
}

.varer ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}

.varer ul li a{
    color: #000;
    text-decoration: none;
}
/*returside.html*/
.hva-retur{
    padding-left: 40px;
}

.returnere{
    padding-left: 40px;
    color: #680D93;
}

.returboks{
    background-color: #000;
    padding: 60px;
    margin: 70px;
}

.retur{
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 40px;
    text-decoration: none;
}

.innboks{
    padding: 85px;
    background-color: #D9D9D9;
    padding-top: 10px;
    
    margin: 40px;
}

.din-innboks{
    padding-bottom: 30px;
}

nav a{
    text-decoration: none;
    color: #000;
}





#downbar {
    font-size: 12px;
    background-color: #423F3F;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

#downbar h2 {
    text-align: center;
}

.info{
    background-color: #d9d9d9;
    border-radius: 50%;
}

.info a{
    text-decoration: none;
    color: #000;
}

@media only screen and (min-width: 600px){
    #grid-container {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;

        grid-template-areas:
          "header header header"
          "main main main"
          "aside aside aside"
          "footer footer footer";

        width: 100%;
      }
    
      header {
        grid-area: header;
      }
    
      main {
        grid-area: main;
      }
    
      aside {
        grid-area: aside;
      }
    
      footer {
        grid-area: footer;
      }
    }

    .navbar{
        font-size: 1.5rem;
        padding-left: 10%;
    }

    .hosttilbud{
        background-color: #56AE48;
        padding: 90px;
    }

    .returboks{
        margin-left: 20%;
        margin-right: 30%;
    }

    .innboks{
        padding: 200px;
    }
    main{
        padding-left: 10%;
        float: right;
    }


