*{
    box-sizing:border-box;
}
html{
    font-size: 20px;
}

body{
    margin : 0 auto;
    max-width: 1400px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
}
#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "topp" "hovedomraade" "sidebar" "baann";
}

header{
    grid-area:topp;
}

main{
    grid-area: hovedomraade;
}

aside{
    grid-area: sidebar;
}

footer{
    grid-area: baann;
}


header{
    background-color: #d9d9d9;
    padding: 5%;
    text-align: center;
}
#logo{
    text-decoration: none;
    font-size: 18;
    font-weight: 600;
    color: #000;
    
}
#hosttilbud{
    background-color: #56AE48;
    padding: 2%;
    text-align: center;
    border-radius: 50%;
}
.varer{
    background-color: #d9d9d9;
    text-align: center;
}
.varer ul{
    margin: auto;
    list-style-type: none;
}


section{

    padding-top: 50px;
}
nav a{
    text-decoration: none;
    color: #000;
}
header nav ul li{
    display: inline-flex;
}
.default-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.default-flex h2{
    flex-basis: 100%;
}
.default-flex article{
    flex-basis: 50%;
    min-width: 200px;
}
.default-flex article img{
    width: 100%;
}
@media only screen and (min-width: 600px){
    #grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    main{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end:3;
    }
    
    aside{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

